.hero
{
    margin: 0px 120px;
    margin-top: 270px;

}

.hero-text
{
color: rgb(245, 7, 7);
font-size: 50px;
font-weight: 900;
line-height: 30px;

}
.hero-explore
{
    display: flex;
    align-items: center;
    gap: 50px;
    width :fit-content;
    margin-top: 70px;
    padding-left: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: rgb(196, 41, 67);
    cursor: pointer;
}
.hero-explore p
{
    color: rgb(56, 6, 240);
    font-size: 20px;
    font-weight: 500;
    justify-content: space-between;
}
.hero-dots
{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot
{
  width: 15px;
  height: 15px;
  background: rgb(238, 158, 10);
  border-radius: 7.5px;
  cursor : pointer  
}
.hero-dot.orange
{
    background: orangered;

}
.hero-play
{
    display: flex;
    align-items: center;
    gap: 30px;
    color: blue;

}
.hero-play p
{
   color: rgb(19, 18, 18); 
   font-size: 19px;
}

